<div class="game-player">
  <div class="game-player__title">Tour de</div>
  <div class="game-player__name">
    <div class="game-player__avatar">
      <img src="assets/img/{{currentPlayer.picture}}" alt="">
    </div>
    <p>{{currentPlayer.nom}} {{currentPlayer.prenom}}</p>
    <div class="game-player__players">1/2</div>
  </div>
</div>
<div class="game-player__stats">
  <div class="game-score">
    <p class="game-score__title">Score</p>
    <div class="game-score__block">
      <div class="game-score__values">
        <span class="game-score__remaining">
          <span class="game-score__starting">221</span>
          176
        </span>
      </div>
      <div class="game-score__goal">
        <span>T20</span>
        <span>D18</span>
        <span>D2</span>
      </div>
    </div>
  </div>
  <div class="game-score">
    <p>Volée n°5</p>
    <div class="game-score__block">
      <div class="game-score__values">
        <span>221</span>
        <span class="game-score__remaining">176</span>
      </div>
      <div class="game-score__goal">
        <span>T20</span>
        <span>D18</span>
        <span>D2</span>
      </div>
    </div>
  </div>
</div>
