<div class="game-player">
  <div class="game-player__title">Tour de</div>
  <div class="game-player__name">
    <div class="game-player__avatar">
      <img src="assets/img/user1.png" alt="">
    </div>
    <div class="game-player__position">
      <span>2</span> ième
    </div>
    <span class="game-player__id">
      Thomas Fraquet
    </span>
    <div class="game-player__players">1/2</div>
  </div>
</div>
<div class="game-player__stats">
  <div class="game-score">
    <p class="game-score__title">Score</p>
    <div class="game-score__block">
      <div class="game-score__values">
        <span class="game-score__remaining">
          <span class="game-score__starting">221</span>
          176
        </span>
      </div>
      <div class="game-score__goal">
        <span>T20</span>
        <span>D18</span>
        <span>D2</span>
      </div>
    </div>
  </div>
  <div class="game-flight">
    <p class="game-flight__title">Volée n°5</p>
    <div class="game-flight__block">
      <div class="game-flight__done">
        <span>T15</span>
        <span>-</span>
        <span>-</span>
      </div>
      <div class="game-flight__darts">
        <span class="game-flight__dart is-done"></span>
        <span class="game-flight__dart"></span>
        <span class="game-flight__dart"></span>
      </div>
    </div>
  </div>
</div>
