<div class="game-player">
  <div class="game-player__title">Tour de</div>
  <div class="game-player__name" (click)="log()">
    <div class="game-player__avatar">
      <img src="assets/img/{{currentPlayer.picture}}" alt="">
    </div>
    <div class="game-player__position">
      <span>{{rankCurrentPlayer}}</span> 
      <ng-container *ngIf="rankCurrentPlayer === 1">er</ng-container>
      <ng-container *ngIf="rankCurrentPlayer > 1">ème</ng-container>
    </div>
    <span class="game-player__id">
      {{currentPlayer.nom}} {{currentPlayer.prenom}}
    </span>
    <div class="game-player__players">{{indexCurrentPlayer + 1}}/{{game.listPlayers.length}}</div>
  </div>
</div>
<div class="game-player__stats">
  <div class="game-score">
    <p class="game-score__title">Score</p>
    <div class="game-score__block">
      <div class="game-score__values">
        <span class="game-score__remaining">
          <span class="game-score__starting">{{game.listScores[indexCurrentPlayer]}}</span>
          {{game.listScores[indexCurrentPlayer] - this.game.scoreBoards[this.indexCurrentPlayer].throws[this.game.numberRound].scoreDart1 - this.game.scoreBoards[this.indexCurrentPlayer].throws[this.game.numberRound].scoreDart2 - this.game.scoreBoards[this.indexCurrentPlayer].throws[this.game.numberRound].scoreDart3}}
        </span>
      </div>
      <div class="game-score__goal">
        <span>T20</span>
        <span>D18</span>
        <span>D2</span>
      </div>
    </div>
  </div>
  <div class="game-flight">
    <p class="game-flight__title">Volée n°{{this.game.numberRound + 1}}</p>
    <div class="game-flight__block">
      <div class="game-flight__done">
        <span *ngIf="this.game.scoreBoards[this.indexCurrentPlayer].throws[this.game.numberRound].dart1">
          {{this.game.scoreBoards[this.indexCurrentPlayer].throws[this.game.numberRound].dart1}}
        </span>
        <span *ngIf="!this.game.scoreBoards[this.indexCurrentPlayer].throws[this.game.numberRound].dart1">
          -
        </span>

        <span *ngIf="this.game.scoreBoards[this.indexCurrentPlayer].throws[this.game.numberRound].dart2">
          {{this.game.scoreBoards[this.indexCurrentPlayer].throws[this.game.numberRound].dart2}}
        </span>
        <span *ngIf="!this.game.scoreBoards[this.indexCurrentPlayer].throws[this.game.numberRound].dart2">
          -
        </span>

        <span *ngIf="this.game.scoreBoards[this.indexCurrentPlayer].throws[this.game.numberRound].dart3">
          {{this.game.scoreBoards[this.indexCurrentPlayer].throws[this.game.numberRound].dart3}}
        </span>
        <span *ngIf="!this.game.scoreBoards[this.indexCurrentPlayer].throws[this.game.numberRound].dart3">
          -
        </span>
      </div>
      <div class="game-flight__darts">
        <span class="game-flight__dart" [class.is-done]="this.game.scoreBoards[this.indexCurrentPlayer].throws[this.game.numberRound].dart1"></span>
        <span class="game-flight__dart" [class.is-done]="this.game.scoreBoards[this.indexCurrentPlayer].throws[this.game.numberRound].dart2"></span>
        <span class="game-flight__dart" [class.is-done]="this.game.scoreBoards[this.indexCurrentPlayer].throws[this.game.numberRound].dart3"></span>
      </div>
    </div>
  </div>
</div>
