button {
  font-family: 'Baloo 2', serif;
  border: none;

  &.btn {
    border: none;
    background: none;

    &.btn-play {
      position: fixed;
      bottom: 1rem;
      left: 50%;
      width: 10rem;
      height: 10rem;
      padding: 0;
      animation: rotateInfinite 8s linear 0s infinite;
      .play-bg {
        position: absolute;
        left: 0;
        top: 0;
      }
      .play-center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }

  }

}

@keyframes rotateInfinite {
  from {
    transform: translateX(-50%) rotate(0);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}
