button {
  font-family: 'Baloo 2', serif;
  border: none;
  &.btn-login {
    font-weight: 800;
    font-size: 1.8rem;
    border: none;
    background: var(--color-white);
    min-height: 7.5rem;
    border-radius: 1.5rem 3rem 3rem 3rem;
  }

  &.btn {
    border: none;
    background: none;

    &.btn-play {
      position: fixed;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
      width: 10rem;
      height: 10rem;
      padding: 0;
      .play-bg {
        position: absolute;
        left: 0;
        top: 0;
      }
      .play-center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }

  }

}
