@import './variables';
@import './buttons';
@import './headings';
@import './helpers';
@import './form-field';

@import './primeng/p-button';

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-primary-light);
  font-family: 'Baloo 2', Arial, serif;
}

.wrapper {
  padding: 4.8rem;
  min-height: 100vh;
  min-height: 100dvh;
  max-width: var(--max-width-wrapper);
  margin: 0 auto;
  background: var(--color-primary);
  &.is-login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
