<div class="wrapper is-login">
  <img class="login-logo" src="assets/img/logo.svg" alt="">
  <div class="login-footer">
    <h1 class="text-center">Bienvenue</h1>
    <!-- <button (click)="gotToHome()" class="btn-login">Accueil</button> -->
  </div>
  <div class="login-form">
    <form (ngSubmit)="login()" class="flex flex-column gap-2">
      <label for="username">Username</label>
      <input type="text" pInputText [(ngModel)]="username" required id="username" name="username" />
      <label for="password">Password</label>
      <input type="password" pInputText [(ngModel)]="password" required id="password" name="password" />
      <button type="submit">Login</button>
      <p-button *ngIf="errorMessage" label="{{ errorMessage }}" />
    </form>
  </div>
</div>
