<div class="pad">
  <button type="button" class="pad-btn pad-double">
    Double
  </button>
  <button type="button" class="pad-btn pad-triple">
    triple
  </button>
  <button type="button" class="pad-btn pad-number">1</button>
  <button type="button" class="pad-btn pad-number">2</button>
  <button type="button" class="pad-btn pad-number">3</button>
  <button type="button" class="pad-btn pad-number">4</button>
  <button type="button" class="pad-btn pad-number">5</button>
  <button type="button" class="pad-btn pad-number">6</button>
  <button type="button" class="pad-btn pad-number">7</button>
  <button type="button" class="pad-btn pad-number">8</button>
  <button type="button" class="pad-btn pad-number">9</button>
  <button type="button" class="pad-btn pad-number">10</button>
  <button type="button" class="pad-btn pad-number">11</button>
  <button type="button" class="pad-btn pad-number">12</button>
  <button type="button" class="pad-btn pad-number">13</button>
  <button type="button" class="pad-btn pad-number">14</button>
  <button type="button" class="pad-btn pad-number">15</button>
  <button type="button" class="pad-btn pad-number">16</button>
  <button type="button" class="pad-btn pad-number">17</button>
  <button type="button" class="pad-btn pad-number">18</button>
  <button type="button" class="pad-btn pad-number">19</button>
  <button type="button" class="pad-btn pad-number">20</button>
  <button type="button" class="pad-btn pad-25">
    25
  </button>
  <button type="button" class="pad-btn pad-null">
    Null
  </button>
  <button type="button" class="pad-btn pad-50">
    50
  </button>
</div>
