<div class="pad">
  <button type="button" class="pad-btn pad-double">
    Double
  </button>
  <button type="button" class="pad-btn pad-triple">
    Triple
  </button>
  <button type="button" class="pad-btn pad-number" *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]" (click)="scoreDart(number)">
    {{number}}
  </button>
  <button type="button" class="pad-btn pad-25" (click)="scoreDart(25)">
    25
  </button>
  <button type="button" class="pad-btn pad-null" (click)="scoreDart(0)">
    0
  </button>
  <button type="button" class="pad-btn pad-50" (click)="scoreDart(50)">
    50
  </button>
</div>
