.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4.8rem;
}

.content {
  flex: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
